.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* font-family: sans-serif; */
}
.sidebar {
  position: fixed;
  top: 70px; /* เว้นที่ navbar จริง */
  left: 0;
  height: calc(100vh - 70px); /* เต็มความสูงลบ navbar */
  width: 14vw;
  background-color: #f0f0f0;
  padding: 0.1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  z-index: 998;
  transition: width 0.3s ease;
}

.installment-header p,.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-11eq0z7-MuiTableCell-root ,
.MuiTypography-root.MuiTypography-h4.css-adbktx-MuiTypography-root{
  font-family: "Prompt", sans-serif !important;
  }
   .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.bt-selectFile.css-17gqrz7-MuiButtonBase-root-MuiButton-root,
 .MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ndsvv5-MuiTableCell-root{
  font-family: "Prompt", sans-serif !important;

 }
 .MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-uday59-MuiTableCell-root,
 .MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1h3p417-MuiTableCell-root{
  font-family: "Prompt", sans-serif !important;
 }

@media (max-width: 576px) {
  .installment-header p {
font-size: 14px !important;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.bt-selectFile.css-17gqrz7-MuiButtonBase-root-MuiButton-root{
font-size: 11px !important;
 
 }
  .MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.css-1ndsvv5-MuiTableCell-root{
  font-size: 13px !important;
   /* .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.bt-selectFile.css-17gqrz7-MuiButtonBase-root-MuiButton-root{
  font-size: 10px !important;
 } */
  }
  .MuiTypography-root.MuiTypography-h4.css-adbktx-MuiTypography-root{
  font-size: 22px !important;
  }
}

@media (max-width: 768px) {
 .MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-uday59-MuiTableCell-root
 ,.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-11eq0z7-MuiTableCell-root,.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1h3p417-MuiTableCell-root{
font-size: 14px !important;

 }
}
/* .container {
  display: flex;
  flex: 1;
  margin-left: 14vw;
} */


.main-content {
  flex: 1;
  /* padding: 0 3rem 3rem 3rem; */
  background-color: #fff;
  /* margin-top: 60px; เว้นที่ navbar */
}



/* Installment Card */
.installment-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.installment-card {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.installment-header {
  text-align: center;
  margin-bottom: 2rem;
}

.installment-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 0.5rem;
}

.installment-header p {
  color: #6b7280;
}

/* Grid */
.installment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1.5rem;
}

/* Button */
.installment-button {
  background-color: rgb(234, 234, 234);
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.25rem 0.5rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.installment-button:hover {
  background-color: rgb(219, 219, 219);
}

/* Icon */
.icon {
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
  stroke-width: 2;
}

.MuiTable-root.css-118g0qg-MuiTable-root {
  margin-top: 0 !important;
  border-color: rgba(25, 118, 210, 0.3) !important;
}
.MuiBox-root.css-kthvhr{
  margin-bottom: 50px;
}